<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>捐助成功</title>
    <meta name="description" content="众善，众筹，捐助，爱心，慈善，项目">
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap3.css" />
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <script type="text/javascript" src="./js/main.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--top-black-->
<div class="topimg">
        <div class="topimgbar">
            <span class="e-tel">联系我们：010-82418521</span>
            <ul class="userinfo">
                <li>您好&nbsp;</li>
                <li> <a href="">yingheye</a></li>
                <li id="logout" class="logout"><a href="./signin.html">退出</a></li>
            </ul>
        </div>
</div>
<!--top-nav-->
<div class="top">
    <div class=topbar>
        <div class=logoimg>
            <span><img src="./img/allheart/logo.png" alt="众善LOGO" /><img alt="" src="./img/allheart/slogan.png"></span>
        </div>
        <div class=logoinfo>
            <ul class="nav nav-pills" style="font-size: 15px;padding-top: 15px;font-weight: bold;">
                <li><a href="./donate-list.html">捐助项目</a></li>
                <li><a href="./rise-welcome.html">发起项目</a></li>
                <li><a href="bbs.allheart.cn">社区</a></li>
                <li style="padding-right:10px;float:right;"><input id="goin" type="button" class="btn btn-primary" style="width: 100px;" onclick="javascrtpt:window.location.href='http://www.allheart.cn/index.php/welcome/login'" value="登录" />
                </li>
                <li style="padding-right:10px;float:right;">
                <input id="goout" type="button" class="btn btn-primary" style="width: 100px;" onclick="javascrtpt:window.location.href='http://www.allheart.cn/index.php/welcome/register'" value="注册" />
                </li>
            </ul>
        </div>
    </div>
</div>
<!--content-->
<div class="all">
    <div style="height: 500px;">
        <div class="b-panel">
            <div class="b-con border-bottom">
               <div class="b-forget-con">
                   <h2 class="title">恭喜您，捐助成功!</h2>
                   <h3 class="subtitle">我们的工作人员将会与您联系，请保持手机畅通</h3>
                   <p class="desc">3秒后将返回首页</p>
                   <a href="#" class="btn btn-default">返回首页</a>
               </div>
            </div>
            <div class="read-more">
                <strong>您还可以来这些地方逛一逛：</strong>
                <p>1. 看一下其他的<a href="./donate-list.html">捐助项目</a>；</p>
                <p>2. <a href="./rise-welcome.html">发起</a>您自己的项目；</p>
                <p>3. 进入<a href="./my-info.html">我的众善</a>看看；</p>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div class="footer">
    <div class="basic-info">
        <p><a href="./help-about.html">关于我们</a> ｜<a href="./help-contact.html">联系我们</a></p>
        <p>北京众善科技有限公司(allheart.cn)&copy;版权所有</p>
        <p>other information</p>
    </div>
    <div class="basic-contact">
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="basic-weixin">
        
    </div>
</div>
</body>
</html>