<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>捐助确认</title>
    <meta name="description" content="众善，众筹，捐助，爱心，慈善，项目">
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap3.css" />
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <script type="text/javascript" src="./js/main.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--top-black-->
<div class="topimg">
        <div class="topimgbar">
            <span class="e-tel">联系我们：010-82418521</span>
            <ul class="userinfo">
                <li>您好&nbsp;</li>
                <li> <a href="">yingheye</a></li>
                <li id="logout" class="logout"><a href="./signin.html">退出</a></li>
            </ul>
        </div>
</div>
<!--top-nav-->
<div class="top">
    <div class=topbar>
        <div class=logoimg>
            <span><img src="./img/allheart/logo.png" alt="众善LOGO" /><img alt="" src="./img/allheart/slogan.png"></span>
        </div>
        <div class=logoinfo>
            <ul class="nav nav-pills" style="font-size: 15px;padding-top: 15px;font-weight: bold;">
                <li><a href="./donate-list.html">捐助项目</a></li>
                <li><a href="./rise-welcome.html">发起项目</a></li>
                <li><a href="bbs.allheart.cn">社区</a></li>
                <li style="padding-right:10px;float:right;"><input id="goin" type="button" class="btn btn-primary" style="width: 100px;" onclick="javascrtpt:window.location.href='http://www.allheart.cn/index.php/welcome/login'" value="登录" />
                </li>
                <li style="padding-right:10px;float:right;">
                <input id="goout" type="button" class="btn btn-primary" style="width: 100px;" onclick="javascrtpt:window.location.href='http://www.allheart.cn/index.php/welcome/register'" value="注册" />
                </li>
            </ul>
        </div>
    </div>
</div>
<!--content-->
<div class="all">
    <div style="height: 500px;">
        <div class="b-panel">
            <div class="b-title">
                <h4>请确认以下信息</h4>
            </div>
            <div class="b-info">
                <table>
                    <tr>
                        <td>项目名称：</td>
                        <td>这里是项目名称，从前边获取</td>
                        <td>筹资总额：</td>
                        <td>这里是筹资总额</td>
                    </tr>
                    <tr>
                        <td>项目发起人：</td>
                        <td><a href="＃">仁爱慈善基金会</a></td>
                        <td>是否订阅此项目</td>
                        <input type="checkbox">
                    </tr>
                </table>
            </div>
            <h4>捐助金额：</h4>
            <div class="b-number-red">5000</div>
            <div><input type="button" class="btn btn-primary e-donate-btn" style="display: block;font-size: 16px;font-family: 微软雅黑;" value="下一步" /></div>
        </div>
    </div>
</div>
<!--footer-->
<div class="footer">
    <div class="basic-info">
        <p><a href="./help-about.html">关于我们</a> ｜<a href="./help-contact.html">联系我们</a></p>
        <p>北京众善科技有限公司(allheart.cn)&copy;版权所有</p>
        <p>other information</p>
    </div>
    <div class="basic-contact">
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="basic-weixin">
        
    </div>
</div>
</body>
</html>