<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>帮助中心－公益合约</title>
    <meta name="description" content="众善，众筹，捐助，爱心，慈善，项目">
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap3.css" />
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <script type="text/javascript" src="./js/main.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--top-black-->
<div class="topimg">
        <div class="topimgbar">
            <span class="e-tel">联系我们：010-82418521</span>
            <ul class="userinfo">
                <li>您好&nbsp;</li>
                <li> <a href="">yingheye</a></li>
                <li id="logout" class="logout"><a href="./signin.html">退出</a></li>
            </ul>
        </div>
</div>
<!--top-nav-->
<div class="top">
    <div class=topbar>
        <div class=logoimg>
            <span><img src="./img/allheart/logo.png" alt="众善LOGO" /><img alt="" src="./img/allheart/slogan.png"></span>
        </div>
        <div class=logoinfo>
            <ul class="nav nav-pills" style="font-size: 15px;padding-top: 15px;font-weight: bold;">
                <li><a href="./donate-list.html">捐助项目</a></li>
                <li><a href="./rise-welcome.html">发起项目</a></li>
                <li><a href="bbs.allheart.cn">社区</a></li>
                <li style="padding-right:10px;float:right;"><input id="goin" type="button" class="btn btn-primary" style="width: 100px;" onclick="javascrtpt:window.location.href='http://www.allheart.cn/index.php/welcome/login'" value="登录" />
                </li>
                <li style="padding-right:10px;float:right;">
                <input id="goout" type="button" class="btn btn-primary" style="width: 100px;" onclick="javascrtpt:window.location.href='http://www.allheart.cn/index.php/welcome/register'" value="注册" />
                </li>
            </ul>
        </div>
    </div>
</div>
<!--content-->
    <div class="all">
        <div class="main clearfix">
            <div class="wrap">
                <div class="about-content clearfix">
                    <div class="menu-nav">
                        <ul class="clearfix">
                            <li><a href="./help-donate.html" class="service icon-ast">如何捐助项目</a></li>
                            <li><a href="./help-risepro.html" class="service icon-ast">如何发起项目</a></li>
                            <li class="select"><a href="./help-contract.html" class="service icon-ast">公益合约</a></li>
                            <li><a href="./help-about.html" class="about icon-ast">关于我们</a></li>
                            <li><a href="./help-contact.html" class="contact icon-ast">联系我们</a></li>
                        </ul>
                    </div>
                    <div class="maincontent">
                        <div class="tit-wrap"><h3>公益合约</h3></div>
                        <div class="content-box">
                            <h4>服务协议一（项目发起人）</4>
众善众筹网（www.allheart.cn）是北京众善科技有限公司旗下经营的网站。本协议双方为北京众善科技有限公司（简称“众善众筹”）与众善众筹网项目发起人（简称“您”或“用户”）。在您使用众善众筹提供的服务之前，请务必认真阅读本协议的全部内容。本协议一经您点击确认并同意接受，即在您与众善众筹之间产生法律效力。

一、 定义
1.项目发起人：在众善众筹平台注册并发起众筹项目的团队或个人（简称“发起人”）；
2.项目捐助人：在众善众筹平台注册并捐助某众筹项目的团队或个人（简称“捐赠人”）。
二、本协议的构成及效力
1．所有众善众筹已经发布的或将来发布的各类规则，作为本协议不可分割的一部分，与本协议具有同等的法律效力。
2．众善众筹有权根据需要适时修订本协议及各类规则，并在网站上公示。变更后的协议和规则一经在众善众筹网站上公示，即发生法律效力。
3．在使用众善众筹提供的服务之前，请务必认真阅读本协议的全部内容。如您对本协议有任何疑问，应向众善众筹咨询。本协议生效后，您不应以未阅读或不接受本协议的内容为由，主张本协议无效或要求撤销本协议。
4．您应该按照本协议约定行使权利并履行义务。如您不能接受本协议的约定，包括但不限于不能接受修订后的协议及各类规则，则您应立即停止使用众善众筹针对项目发起人提供的服务。如您继续使用众善众筹对项目发起人提供的服务，则表示您同意并接受本协议及各类规则的约束。

三、项目发起人的资格
1．作为项目发起人，您应为众善众筹网站的注册用户，完全理解并接受本协议。
2．作为项目发起人的个人或团体成员，应为年满18周岁并具有完全民事行为能力和民事权利能力的自然人，如项目发起人未满18周岁，应由其监护人代为履行本协议权利和义务。
3．您应按照众善众筹的要求，进行必要的身份认证和资质认证，个人认证包括但不限于身份证、护照、学历证明等的认证；团体认证包括但不限于营业执照、组织机构代码证、相关监管机构出具的证明等。并不断及时更新注册时提供的个人资料，保持其详尽、准确。所有用户输入的资料将引用为注册资料。众善众筹不对因用户提交的注册信息不真实或未及时准确变更信息而引起的问题、争议及其后果承担责任。
4．您应拥有在中国大陆地区开户并接收人民币汇款的银行卡或支付宝账户。
5．您应妥善保管在众善众筹网站的用户名和密码，凡使用您的用户名和密码登陆众善众筹网站进行的一切操作，均视为您本人的行为，一切责任由您本人承担。

四、您应对您发起的公益项目履行以下义务：
1．您在众善众筹网上发起的公益项目，应明确具体的开始时间和结束时间。截止项目结束时间，如项目众筹金额低于预定众筹金额，则项目众筹失败；如项目众筹金额等于或大于预定众筹金额，则项目众筹成功。
2． 您应对自己及您发起的公益项目进行介绍，内容包括“关于公益项目的介绍”、“发起该项目的目的”、 “为什么以众筹的方式发起该项目”、“项目众筹的意义”等。同时，以便于项目投资人对项目有全面充分的了解，从而独立慎重作出是否捐助的决定。
3．您发起的公益项目应确保真实，应提供相应的证明；若公益项目具有直接相对人，需提供其身份证明文件（如身份证扫描件，户口证明等）及确有捐助需求的资料证明（如医疗鉴定等）。
4．由于众善众筹实行的是在项目众筹成功后分期付款机制，您在发起公益项目时需选择分期付款的时间间隔和每期付款的款项。
5．在项目发起后的运行过程中，您应及时回复网友的提问，与项目投资人进行充分互动，促成项目众筹成功。
6．您须遵守相应的分期付款机制（详见后文）。
7.为了对您拿到捐赠人捐助的款项后使用情况的调查，您需接受众善众筹相应的调查（若您为一个项目团队，则需选出专门负责财务管理的人员与众善众筹进行对接）。

五、其他相关协议
1．若由于您披露虚假信息的原因，项目捐赠人对您投诉并提出了退款要求，经审查后确符合退款原则的，相应款项将被扣除。
2．如您与项目捐赠人在捐助金额使用方面发生纠纷，一切责任由您本人承担，如因此给众善众筹造成经济或名誉损失，您应赔偿损失、恢复名誉。
3．您可以在发起的公益项目中注明对捐助人的奖励回报，如您在兑现对项目捐助人的回报过程中，与第三方（包括但不限于物流公司）发生纠纷，一切责任由您本人承担，与众善众筹无关。

六、协议终止
1．以下任一情形出现，本协议即终止
（1）您发起的项目违反了国家法律法规、政策或众善众筹的平台使用规则或本协议约定，众善众筹停止为您提供服务的；
（2）您本人不同意接受本协议约定（含众善众筹发布的各类规则），并停止使用众善众筹针对项目发起人提供的服务的；
（3）您不符合本协议约定的项目发起人应具备的资格的；
（4）其他原因导致本协议终止的。
2、本协议终止后，不影响您因在本协议终止前的行为应承担的义务和责任。
七、本协议的解释权归北京众善科技有限公司及众善众筹网所有。

                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--footer-->
<div class="footer">

</div>
    <input type="hidden" name="login_status" id="login_status" value="">
</body>
</html>
<!--script for signin/signout status-->
<script type="text/javascript">
    var a = document.getElementById('login_status').value;
    if(a == ''){
        document.getElementById('logout').style.display = "none";
        document.getElementById('goin').type = "button";
        document.getElementById('goout').type = "button";
    }
    else {
        document.getElementById('logout').style.display = "block";
        document.getElementById('goin').type = "hidden";
        document.getElementById('goout').type = "hidden";
    }
</script>