<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>发起项目</title>
    <meta name="description" content="众善，众筹，捐助，爱心，慈善，项目">
    <link rel="stylesheet" type="text/css" href="./lib/bootstrap/css/bootstrap3.css" />
    <link rel="stylesheet" type="text/css" href="./css/main.css" />
    <script type="text/javascript" src="./js/main.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>
<body>
<!--top-black-->
<div class="topimg">
        <div class="topimgbar">
            <span class="e-tel">联系我们：010-82418521</span>
            <ul class="userinfo">
                <li>您好&nbsp;</li>
                <li> <a href="">yingheye</a></li>
                <li id="logout" class="logout"><a href="./signin.html">退出</a></li>
            </ul>
        </div>
</div>
<!--top-nav-->
<div class="top">
    <div class=topbar>
        <div class=logoimg>
            <span><img src="./img/allheart/logo.png" alt="众善LOGO" /><img alt="" src="./img/allheart/slogan.png"></span>
        </div>
        <div class=logoinfo>
            <ul class="nav nav-pills" style="font-size: 15px;padding-top: 15px;font-weight: bold;">
                <li><a href="./donate-list.html">捐助项目</a></li>
                <li><a href="./rise-welcome.html">发起项目</a></li>
                <li><a href="bbs.allheart.cn">社区</a></li>
                <li style="padding-right:10px;float:right;"><input id="goin" type="button" class="btn btn-primary" style="width: 100px;" onclick="javascrtpt:window.location.href='http://www.allheart.cn/index.php/welcome/login'" value="登录" />
                </li>
                <li style="padding-right:10px;float:right;">
                <input id="goout" type="button" class="btn btn-primary" style="width: 100px;" onclick="javascrtpt:window.location.href='http://www.allheart.cn/index.php/welcome/register'" value="注册" />
                </li>
            </ul>
        </div>
    </div>
</div>
<!--content-->
<div class="all">
    <div style="height: 500px;">
        <div class="b-panel">
            <div class="rise-welcome wrap">
			<div class="tit-wrap">
				<h3>发起项目</h3>
			</div>
			<div class="welcome-cotain">
				<form action='' name="" method="post">
					<h3>如果你有一颗真诚的心那么请在这里发起你的梦想</h3>
					<p>众善网是一家可以帮助您实现梦想的网站，在这里您可以发布您的梦想、创意和创业计划，并通过网络平台面对公众集资，让有创造力的人可能获得他们所需要的资金，以便使他们的梦想有可能实现。</p>
					<div class="welcome-contract">
						<input id="flag" name="flag" type="checkbox" checked="checked" />
						阅读并同意众善网的<a class="red" href="./help-contract.html" target="_blank">《服务协议》</a>
						 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="./help-donate.html" target="_bank"><span class="red">《众善公告》</span></a>
					</div>
					<div><input type="button" class="btn btn-primary e-donate-btn" style="display: block;font-size: 16px;font-family: 微软雅黑;" value="立刻发起项目" /></div>
				</form>
			</div>
		</div>
        </div>
    </div>
</div>
<!--footer-->
<div class="footer">
    <div class="basic-info">
        <p><a href="./help-about.html">关于我们</a> ｜<a href="./help-contact.html">联系我们</a></p>
        <p>北京众善科技有限公司(allheart.cn)&copy;版权所有</p>
        <p>other information</p>
    </div>
    <div class="basic-contact">
        <ul>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="basic-weixin">
        
    </div>
</div>
</body>
</html>